#logo {
font-family: 'Courgette', cursive;
}

.Posts {
font-family: 'Courgette', cursive; 
}

body {
    text-align: center;
    background: #d3e9ff;
}

div.container {
    display: flex;
}

div.user-post-list {
    text-align: center;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

ul {
    font-size: 200%;
    list-style-image: linear-gradient(to left bottom, rgb(252, 16, 16), blue);
    font-family: 'Roboto Mono', monospace;
}
  
ul.homepage-users li {
    background: #6db3ff;
    margin: 5px;
    width: 800px;
    height: 200px;
}

p.tags-label {
    font-size: 17px;
}

a.post-title {
    font-size: 30px;
    color: #f6f7f8; 

}

a.user-post {
    font-size: 30px;
    color: #007bff; 

}

p.post-content {
    font-size: 20px;
}

a {
color: #f9f9f9; 
}

i {
    font-size: 10px;
}

ul.users li{
    align-items: center;
    text-align: left;
    background: #6db3ff;
    margin: 5px;
    width: 300px;
    height: 50px;
}

div.absolute {
    margin: auto;
}

ul.posts {
    display: inline-block;
    text-align: left;
}

ul.tags {
    display: inline-block;
    text-align: left;
}

.from-check-label {
    text-align: left;
}

form.user-buttons {
    position: absolute; 
    right: 0; 
    left: 470px; 
    top: 60px;
} 

.img {
    border-radius: 50%;
    position: absolute; 
    right: 0; 
    left: 200px;
    top: 45px;
}

.full-name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* position: absolute; */
    top: 70px;
}

hr.solid {
    border-top: 3px solid rgb(0, 80, 166);
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.2); 
    /* // I don't know why this doesn't work  */
} 

.messages .success {
    background-color: rgb(0, 255, 0, 0.1);
    width: 30%;
    top: 105px;
    left: 350px;
}

.messages .error {
    background-color: rgb(255, 0, 0, 0.1);
    width: 30%;
    position: absolute;
    top: 135px;
    left: 350px;
}

.messages p {
    position: absolute;
    margin: auto;
    width: 50%;
    padding: 1rem; 
    border-radius: 1rem;
    font-size: 1rem;
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.2);
}
