{% extends 'base.html' %}

{% block title %} 
<h2 class="full-name">{{user.full_name}}</h2>
<div class="row">  
    <div class="col-sm-10 col-12 text-center">      
        <br>  
        <form class="user-buttons">
            <button class="btn btn-primary btn-sm" formaction="/users/{{user.id}}/edit">Edit User</button>
            <button class="btn btn-danger btn-sm" formaction="/users/{{ user.id }}/delete" formmethod="POST">Delete User</button>
        </form> 
    </div>
</div>
{% endblock %}
{% block content %}
<br>
<hr class="solid">
<br>
<img class="img" src="{{user.image_url}}" width="100px" height="100px">
<div class="user-post-list">
    <h3 class="Posts">My Posts</h3>
    <ul class="posts">
        {% for post in user.posts %}
        <li><a class="user-post" href="/posts/{{ post.id }}">{{post.title}}</a></li>
        <small><i>{{ post.friendly_date_time }}</i></small>
        {% endfor %}
    </ul>
    <form class="add-post-button">
        <button class="btn btn-primary btn-sm" formaction="/users/{{ user.id }}/posts/new">Add Post</button>
    </form>
</div>
{% endblock %}